* { box-sizing: border-box;}
p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
}
li {
  list-style-type: none;
}
header {
  font-family: sans-serif;
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
  background-color: #F2F2F2;
  font color: #B76EFF;
}
header nav li {
  display: inline;
  float: left;
  border-left: 4px solid #C041FF;
  margin: 0 0;
  width: 13%;
  padding: 1rem;
  background-color: #B76EFF;
}
figure {
  clear: both;
  float: right;
  width: 75%;
  background-color: #E4E4E4;
  padding: 3rem;
  margin: 0 0;
}
figcaption {
  text-align: center;
  padding: 1rem;
}
aside {
  float: left;
  width: 25%;
  text-decoration-color: #FFFFFF;
  font-size: 1.5em;
  background-color: #DDBBFF;
  padding: 7rem; 
  margin: 0 0;
}

footer {
  clear: both;
  text-align: center;
  padding: 2rem;
  background-color: #F2F2F2;
}